section.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

section.home .main-title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: #dcddd8;
  background-color: #313131;
  padding: 20px 60px;
  z-index: 1;
  user-select: none;
  border: 2px solid #dcddd8;
  font-family: "Poppins", sans-serif !important;
}

section.home button.ns-btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dcddd8;
  color: #dcddd8;
}

section.home button.ns-btn span {
  font-family: "Poppins", sans-serif !important;
}

section.home button.ns-btn:nth-of-type(1) {
  top: 50%;
}
section.home button.ns-btn:nth-of-type(2) {
  top: 70%;
}

@media (max-width: 600px) {
  section.home .main-title {
    font-size: 2.5rem;
  }
}
