.names-list {
  width: 500px;
  user-select: none;
}

.names-list .block-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border-top: 2px solid #dcddd8;
  border-left: 2px solid #dcddd8;
  border-right: 2px solid #dcddd8;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom: 2px dotted #dcddd8;
  padding: 10px;
}
.names-list .list-item {
  border-left: 2px solid #dcddd8;
  border-right: 2px solid #dcddd8;
  border-bottom: 2px dotted #dcddd8;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.names-list .last-item {
  border-bottom: 2px solid #dcddd8;
  border-left: 2px solid #dcddd8;
  border-right: 2px solid #dcddd8;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.names-list .itsI {
  background-color: #414141;
}
.names-list .itsI .name-block,
.names-list .itsI .name-item {
  color: #00dfc4;
}

.names-list .name-item {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.names-list .name-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.names-list .name-block button.ripple-btn {
  margin-left: 15px;
}

.names-list .info-block {
  margin-top: 15px;
  user-select: none;
}
.names-list .info-block .info-item {
  font-style: italic;
}

@media (max-width: 600px) {
  .names-list {
    width: 90vw;
  }
}
