button.ns-btn {
  background-color: #dcddd8;
  color: #dcddd8;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
  border: none;
  z-index: 1;
  cursor: pointer;
  white-space: nowrap;
}

button.ns-btn::before {
  content: "";
  position: absolute;
  inset: 2px;
  background-color: #27282c;
}
button.ns-btn span {
  position: relative;
  z-index: 1;
}
button.ns-btn i {
  position: absolute;
  inset: 0;
  display: block;
}
button.ns-btn i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 20px;
  height: 4px;
  background-color: #111;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

button.ns-btn i::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 20px;
  height: 4px;
  background-color: #111;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

@media (min-width: 768px) {
  button.ns-btn:hover {
    letter-spacing: 0.25em;
    color: var(--crl);
    background-color: var(--crl);
    box-shadow: 0 0 35px var(--crl);
  }

  button.ns-btn:hover i::before {
    width: 30px;
    left: 20%;
  }

  button.ns-btn:hover i::after {
    width: 30px;
    left: 80%;
  }
}
