section.errors-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.stripe_inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 6rem;
  padding: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0);
  background: repeating-linear-gradient(
    45deg,
    #c44 25%,
    #c44 50%,
    #313131 50%,
    #313131 75%
  );
  background-size: 100px 100px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: stripeBackgroundPosition 2s linear infinite;
  animation: stripeBackgroundPosition 2s linear infinite;
}
.errors-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 100px);
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    #313131 25%,
    #313131 50%,
    #c44 50%,
    #c44 75%
  );
  background-size: 100px 100px;
  -webkit-animation: stripeTransform 2s linear infinite;
  animation: stripeTransform 2s linear infinite;
}
.errors-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(27, 39, 53, 0) 0%,
    #090a0f 100%
  );
}

@-webkit-keyframes stripeTransform {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100px * -1));
  }
}

@keyframes stripeTransform {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100px * -1));
  }
}
@-webkit-keyframes stripeBackgroundPosition {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(100px * -1) 0;
  }
}
@keyframes stripeBackgroundPosition {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(100px * -1) 0;
  }
}

section.errors-page button.ns-btn {
  position: relative;
  background-color: #dcddd8;
  color: #dcddd8;
  margin-bottom: 50px;
}

@media (min-width: 1500px) {
  .stripe_inner .mobile {
    display: none;
  }
}
@media (max-width: 1499px) {
  .stripe_inner .desktop {
    display: none;
  }
}
