section.players {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #313131;
  display: flex;
  flex-direction: column;
  /*overflow: hidden;*/
  align-items: center;
  color: #dcddd8;
  padding-bottom: 20px;
}

section.players .join-block {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

section.players .block-info {
  margin-top: 20px;
  user-select: none;
}

section.players .btn-block {
  margin-top: 20px;
}

section.players .btn-block .ripple-btn:nth-of-type(1) {
  margin-right: 20px;
}

@media (max-width: 600px) {
  section.players div.join-block {
    flex-direction: column;
  }

  section.players .btn-block {
    display: flex;
    flex-direction: column;
  }

  section.players .btn-block .ripple-btn:nth-of-type(1) {
    margin-right: 0;
  }
}

section.players .copy-code-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  user-select: none;
}

section.players .copy-code-block .code-block {
  display: flex;
  font-size: 1.5em;
}

section.players .copy-code-block .code-item {
  margin-left: 10px;
  text-decoration: underline;
  color: #00dfc4;
  font-weight: 600;
  cursor: pointer;
}

section.players .banned-block {
  margin-top: 20px;
  color: #ca3e47;
}

section.players h2.game-title {
  font-size: 4rem;
  color: #dcddd8;
  margin-top: 40px;
  margin-bottom: 60px;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  section.players .cta {
    margin-left: 0;
    margin-top: 20px;
  }

  section.players .btn-block {
    margin-left: 15px;
    margin-right: 15px;
  }
}
