.game-card {
  position: relative;
  width: 360px;
  height: 470px;
  background-color: #fff;
  box-shadow: 0 25px 50px rgba(0,0,0,0.15);
  border-radius: 20px;
  margin-bottom: 20px;
  user-select: none;
}

.game-card i {
  position: absolute;
  top: 40px;
  left: -15px;
  width: 350px;
  height: 50px;
  background-color: #af43f1;
  border-radius: 30px;
  border-bottom-left-radius: 0;
}

.game-card i:before {
  content: '';
  position: absolute;
  top: 50px;
  width: 15px;
  height: 30px;
  background-color: #8045c6;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 2;
}

.game-card i:after {
  content: '';
  position: absolute;
  top: 50px;
  width: 15px;
  height: 15px;
  background-color: #af43f1;
  z-index: 1;
}

.game-card img {
  width: 300px;
  margin: 130px 30px 0;
}

.game-card .text {
  position: absolute;
  top: 53px;
  left: 10px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .game-card {
    width: 310px;
    max-height: 430px;
  }
  .game-card img {
    width: 250px;
    height: 250px;
  }
  .game-card i {
    width: 300px;
  }
}
