section.home .row {
  position: relative;
  top: -60%;
  left: -10%;
  width: 100%;
  display: flex;
  padding: 5px 0;
  white-space: nowrap;
  font-size: 60px;
  transform: rotate(-30deg);
}

section.home svg {
  width: 64px;
  height: 64px;
  fill: rgba(0, 0, 0, 0.5);
  transition: 1s;
  margin: 0 20px;
  user-select: none;
  cursor: default;
}

section.home .row div {
  animation: animate1 80s linear infinite;
  animation-delay: -80s;
}
@keyframes animate1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

section.home .row div:nth-child(2) {
  animation: animate2 80s linear infinite;
  animation-delay: -40s;
}
@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

section.home .row:nth-child(even) div {
  animation: animate3 80s linear infinite;
  animation-delay: -80s;
}
@keyframes animate3 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

section.home .row:nth-child(even) div:nth-child(2) {
  animation: animate4 80s linear infinite;
  animation-delay: -40s;
}
@keyframes animate4 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (min-width: 768px) {
  section.home svg:hover {
    transition: 0s;
    fill: var(--svgclr, #0f0);
  }
}
